* {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}
.navbar {
    height: 70px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 10px;
}
.nav-logo {
    height: 60px;
    width: 135px;
    display: flex;
    align-items: center;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 125px;
}
.border{
    border: 1.75px solid transparent;

}

.border:hover{
    border: 1.75px solid white;
}

/* Box 2 */
.add-1 {
    color: #cccccc;
    font-size: 12px;
    margin-left: 22px;
    line-height: 14px;
}

.add-2 {
    font-size: 16px;
    margin-left: 5px;
    font-weight: 700;
}

.add-icon{
    display: flex;
    align-items: center;
}
.nav-address {
    height: 60px;
    padding: 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 105px;
}

/* Box 3 */
.nav-search {
    display: flex;
    height: 50px;
    flex: 1;
    min-width: 300px;
    max-width: 1100px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

.nav-search:hover{
    border: 3px solid #ff9900;
}

.search-select {
    background-color: #e6e6e6;
    width: 64px;
    padding: 0 8px;
    font-size: 14px;
    border: none;
    color: #333;
}

.search-input {
    flex: 1;
    width: auto;
    font-size: 17px;
    padding: 0 10px;
    border: none;
    outline: none;
}

.search-icon {
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #febd69;
    color: #111;
    cursor: pointer;
}

/* Box 4 */
.nav-lang {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    color: white;
    white-space: nowrap;
    cursor: pointer;
}

.nav-flag {
    width: 25px;
    height: 17px;
    object-fit: cover;
    margin-right: 5px;
}

.lang {
    font-size: 16px;
    font-weight: 700;
}

.dropdown {
    font-size: 9px;
    color: #aaa;
    margin-left: 3px;
}

/* Box 4 */
.nav-singin {
    height: 60px;
    padding: 5px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
}

.nav-singin span {
    font-size: 12px;
}

.nav-singin .nav-2 {
    font-size: 16px;
    font-weight: 700;
}

/* box 6*/
.nav-return {
    height: 60px;
    padding: 5px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
}

.nav-return span {
    font-size: 12px;
}

.nav-return .nav-2 {
    font-size: 16px;
    font-weight: 700;
}

.nav-cart {
    height: 60px;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
}

.nav-cart i {
    font-size: 30px;
}

/* Panel */
.panel {
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.panel-all {
    padding: 8px 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 550;
}
.panel a{
    display: inline;
    color: white;
    text-decoration:none;
    margin-left: 15px;
}

.panel-ops {
    display: flex;
    align-items: center;
    width: auto;
    font-size: 0.9rem;
    font-weight: 550;
}

.panel-deals {
    margin-left: auto;
    font-size: 0.9rem;
    font-weight: 700;
}

/* Hero Section */
.hero-section{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 308px;
    display: flex;
    justify-content: center;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    position: relative;
    top: 250px;


}

.hero-msg a{
    color: #007185;
}

/* shop Section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px 10px;
    background-color: #e2e7e6;
}

.box {
    background-color: white;
    width: 23%;
    min-height: 430px;
    padding: 20px;
}

.box h2 {
    font-size: 21px;
    margin-bottom: 15px;
    color: #0f1111;
}

.box-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 18px;
}

.box-images img {
    width: 100%;
    height: 145px;
    object-fit: cover;
}

.box-images p {
    font-size: 14px;
    margin-top: 4px;
}

.box > a {
    display: block;
    margin-top: 35px;
    color: #007185;
    text-decoration: none;
    font-size: 14px;
}

.box > a:hover {
    color: #c7511f;
}

/* Footer */
footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;


}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    background-color: #222f3d;
    color: white;
    height: 80px;
    text-align: center;
    font-size: 0.85rem;
}

.pages{
    padding-top: 25px;
    }

.copyright{
    padding-top: 5px;
}
